<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 导入每个模块下的配置文件 -->
    <import resource="classpath:spring/helloworld.xml"/>
    <import resource="classpath:spring/Properties.xml"/>
    <import resource="classpath:spring/datasource.xml"/>
    <import resource="classpath:spring/day02.xml"/>
    <import resource="classpath:spring/aopConfig.xml"/>
    <import resource="classpath:spring/aopAnno.xml"/>
    <import resource="classpath:spring/day03.xml"/>
    <import resource="classpath:spring/day03_txanno.xml"/>

    <!--
        配置Controller类
        name: 表示请求的url地址
    -->
    <!--<bean name="/hello" class="com.mark.project.springMVCDemo.HelloWorldController"/>-->

    <!--<bean class="com.mark.project.springMVCDemo.AnnocationController"/>-->

    <context:component-scan base-package="com.mark.project.springMVCDemo"/>

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd"/>
                            </bean>
                        </property>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:default-servlet-handler/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver">
        <!-- 
            配置文件上传的最大大小
        -->
        <property name="maxUploadSize">
            <value>1048576</value>
        </property>
    </bean>

    <!--
        配置拦截器
    -->

    <mvc:interceptors>
        <mvc:interceptor>
            <!--
                配置要拦截的路径 /*表示有的请求 但是只是一级
                如果要拦截多级(/pss/login) 只能配置/**
             -->
            <mvc:mapping path="/*"/>
            <mvc:exclude-mapping path="/data"/>
            <bean class="com.mark.project.springMVCDemo.MyInterceptor"/>
            <!-- 配置不拦截的路径 -->
        </mvc:interceptor>
    </mvc:interceptors>

</beans>