<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mark.project.MyBatisDemo.mapper.DepartmentMapper">

    <insert id="save" parameterType="com.mark.project.MyBatisDemo.domain.Department"
            keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO dept(name) VALUES(#{name})
    </insert>

    <select id="get" parameterType="long" resultType="Department">
        SELECT * FROM dept WHERE id = #{id}
    </select>

</mapper>